<div>
    <form novalidate class="form-inline">
        <div class="form-group">
            <label>States</label>
            <ui-select style="min-width: 100px; max-width: 100px" multiple ng-model="dockets.states" theme="bootstrap"
                       ng-disabled="disabled">
                <ui-select-match placeholder="Select States...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="state in availableStates | filter:$select.search">
                    {{state.name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" ng-model="dockets.keyword" class="form-control" id="keyword" placeholder="keyword">
        </div>
        <div class="form-group">
            <label>Search Scope</label>
            <ui-select ng-model="dockets.search_scope" theme="select2" ng-disabled="disabled">
                <ui-select-match placeholder="Select scope...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="search_scope in availableScopes | propsFilter: {name: $select.search}">
                    <div ng-bind-html="search_scope.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <div ng-controller="DatePickerCtrl">
                <input ng-click="open($event)" type="text" class="form-control" show-button-bar="false"
                       datepicker-popup="{{format}}"
                       ng-model="dockets.to_date"
                       is-open="opened"
                       date-disabled="disabled(date, mode)"
                       ng-required="false" close-text="Close"/>
            </div>
        </div>
        <div class="form-group">
            <div ng-controller="DatePickerCtrl">
                <input ng-click="open($event)" type="text" class="form-control" show-button-bar="false"
                       datepicker-popup="{{format}}"
                       ng-model="dockets.from_date"
                       is-open="opened"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="false" close-text="Close"/>
            </div>
        </div>
        <button type="submit" ng-click="searchDockets(dockets)" class="btn btn-default">Search</button>
        <input type="button" class="btn btn-default" ng-click="clear(dockets)" value="Clear"/>
    </form>

    <br/>

    <div ng-switch="moduleState">
        <div ng-switch-when="list">
            <table class=" table table-bordered table-striped table-responsive" ng-if="results">
                <tr>
                    <th class="col-md-2"><a href="" ng-click="reverse=!reverse;order('state_id', reverse)">Docket Number</a>
                    <th class="col-lg-5"><a href="" ng-click="reverse=!reverse;order('title', reverse)">Title</a></th>
                    <th><a href="" ng-click="reverse=!reverse;order('state', reverse)">State</a></th>
                    <th><a href="" ng-click="reverse=!reverse;order('filing_count', reverse)">Filing</a></th>
                    <th><a href="" ng-click="reverse=!reverse;order('filed_on', reverse)">Date Opened</a></th>
                    <th><a href="" ng-click="reverse=!reverse;order('latest_filing_updated_on', reverse)">Latest
                        Filing</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse;order('status', reverse)">Status</a></th>
                    <th><a href="">Priority</a></th>
                </tr>
                <div>
                    <tr ng-repeat="docket in results">
                        <td><a href="#/search" ng-click="showDetail(docket)">{{docket.state_id}}</a></td>
                        <td>{{docket.title}}</td>
                        <td>{{docket.state}}</td>
                        <td>{{docket.filing_count}}</td>
                        <td>{{docket.filed_on}}</td>
                        <td>{{docket.latest_filing_updated_on}}</td>
                        <td>{{docket.status}}</td>
                        <td><select ng-model="priority"
                                    ng-options="priority.name for priority in availablePriorities"></select></td>
                    </tr>
                </div>
            </table>
        </div>
        <div ng-switch-when="detail">
            <div class="container">
                    <p><strong>PDC:</strong>{{selectedDocket.state_id}}</p>
                    <p><strong>Status:</strong> {{selectedDocket.status}}</p>
                    <p><strong>Detailed Status:</strong> {{selectedDocket.status}}</p>
                    <p><strong>Updated:</strong> {{selectedDocket.updated_at}}</p>
                    <p><strong>Open:</strong> {{selectedDocket.filed_on}}</p>
                    <p>{{selectedDocket.title}}</p>
                    <p><strong>Major Parties:</strong>
                   <div ng-repeat="party in selectedDocket.major_parties">{{party}}</div>
                      {{party}}</p>

                <div ng-if="docketFilings">
                    <table class="table-striped table table-bordered">
                        <th class="col-md-1"><a href="" ng-click="reverse=!reverse;order('filed_on', reverse)">Date Filed</a></th>
                        <th class="col-md-4"><a href=""ng-click="reverse=!reverse;order('description', reverse)">Title</a></th>
                        <th class="col-md-1"><a href="" >Filing Parties</a></th>
                        <th class="col-md-1"><a href="">Type</a></th>
                        <th class="col-md-1"><a href=""># Document</a></th>
                        <th class="col-md-1"><a href="">Total Pages</a></th>
                        <th class="col-md-1"><a href="">PDF Preview</a></th>

                        <tr ng-repeat="filing in docketFilings">
                            <td>{{filing.filed_on}}</td>
                            <td>{{filing.description}}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>{{filing.documents.length}}</td>
                            <td>{{filing.total_pages}}</td>
                            <td><a class="btn btn-mini" href="" ng-click="pdfView(filing.documents[0].download_url)"><i class="glyphicon-eye-open"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>