<p>this is search partial</p>

<div>
    <form novalidate class="form-inline">
        <div class="form-group">
            <label>States</label>
            <ui-select multiple ng-model="dockets.states" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Select States...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="state in availableStates | filter:$select.search">
                    {{state.name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" ng-model="dockets.keyword" class="form-control" id="keyword" placeholder="keyword">
        </div>
        <div class="form-group">
            <label>Search Scope</label>
            <ui-select ng-model="dockets.search_scope.selected" theme="select2" ng-disabled="disabled">
                <ui-select-match placeholder="Select scope...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="search_scope in availableScopes | propsFilter: {name: $select.search}">
                    <div ng-bind-html="search_scope.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <div ng-controller="DatePickerCtrl">
                <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}"
                       ng-model="dockets.to_date"
                       is-open="opened"
                       date-disabled="disabled(date, mode)"
                       ng-required="false" close-text="Close"/>
            </div>
        </div>
        <div class="form-group">
            <div ng-controller="DatePickerCtrl">
                <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}"
                       ng-model="dockets.from_date"
                       is-open="opened"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="false" close-text="Close"/>
            </div>
        </div>
        <button type="submit" ng-click="searchDockets(dockets)" class="btn btn-default">Search</button>
        <input type="button" class="btn btn-default" ng-click="reset()" value="Clear"/>
    </form>

    <br/>

    <div>
        <table class=" table table-bordered table-striped table-responsive" ng-if="friends">
            <tr>
                <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Name</a>
                <th><a href="" ng-click="reverse=!reverse;order('phone', reverse)">Phone Number</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('age', reverse)">Age</a></th>
            </tr>
            <div>
                <tr ng-repeat="friend in friends">
                    <td>{{friend.name}}</td>
                    <td>{{friend.phone}}</td>
                    <td>{{friend.age}}</td>
                </tr>
            </div>
        </table>

        <table class=" table table-bordered table-striped table-responsive" ng-if="dockets.states != ''">
            <tr>
                <th><a href="" ng-click="reverse=!reverse;order('state_id', reverse)">Docket Number</a>
                <th><a href="" ng-click="reverse=!reverse;order('title', reverse)">Title</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('state', reverse)">State</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('filing_count', reverse)">Filing</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('filed_on', reverse)">Date Opened</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('latest_filing_updated_on', reverse)">Latest Filing</a>
                </th>
                <th><a href="" ng-click="reverse=!reverse;order('status', reverse)">Status</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('priority', reverse)">Priority</a></th>
            </tr>
            <div>
                <tr ng-repeat="docket in dockets">
                    <td>{{docket.state_id}}</td>
                    <td>{{docket.title}}</td>
                    <td>{{docket.state}}</td>
                    <td>{{docket.filing_count}}</td>
                    <td>{{docket.filed_on}}</td>
                    <td>{{docket.latest_filing_updated_on}}</td>
                    <td>{{docket.status}}</td>
                    <td><select ng-model="priority" ng-options="priority.name for priority in priorities"></select></td>
                </tr>
            </div>
        </table>
    </div>

</div>